canvas{
    position: fixed;
    top:0px;
    left: 0px;
}
body{
    width:98vw;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.menu{
    z-index: 1;
    position: relative;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.116);
    padding: 2%;
    border-radius: 2%;
    width:25vw
}
.menu, h1,button{
    margin:6%
}
.menu h1{
    font-family: "Bauhaus 93";
    font-size: 50px;
}
.menu button{
    background-color: white;
    font-weight: bold;
    border:none;
    width: 50%;
    height: 5vh;
    border-radius: 2%;
    font-size: 20px;
}
.submenu{
    z-index: 1;
    position: fixed;
    top:0px;
    left:0px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.116);
    
    border-radius: 4%;
    width:20vw
}
.submenu button{
    background-color: white;
    border:none;
    width:15%;
    text-align: center;
    padding: 2%;
    border-radius: 2%;
    font-size: 20px;
}
.submenu div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
    width:50%;
    margin-right: 2%;
    
}