body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
  }
  canvas{
      position: relative;
      z-index: -1;
  }
  #svgTitle{
      position: absolute;
      top: 30%;
      font-size: 50px;
      font-family: "Death Star";
  
  }
  
  #titleOfGame{
      fill:url("#grad3");
  }
  #grad3 stop:first-child{
      animation-duration: 5s;
      animation-name: changeColor1;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  #grad3 stop:last-child{
      animation-duration: 5s;
      animation-name: changeColor2;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  
  
  @keyframes changeColor1 {
      to{
          offset:0%;
          stop-color: rgb(253, 225, 165);
      }
      from{
          offset:100%;
          stop-color: orange;
      }
  }
  @keyframes changeColor2 {
      to{
          offset:100%;
          stop-color: orange;
      }
      from{
          offset:0%;
          stop-color: rgb(253, 225, 165);
      }
  }
  
  #svgInfo{
      position: absolute;
      top: 50%;
      font-size: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
  }
  #infoToStart{
      animation-duration: 1s;
      animation-name: changeColor3;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  
  @keyframes changeColor3 {
      to{
          fill:white
      }
      from{
          fill:#1B2735
      }
  }
  .hightscore{
      position: absolute;
      top: 0%;
      font-size: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:white
  
  }
  .score{
      position: absolute;
      top: 0%;
      left:0%;
      font-size: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:white;
      margin-left: 1%;
  
  }
  .info{
      position: absolute;
      top: 0%;
      right:0%;
      font-size: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:white;
      margin-right: 1%;
      
  
  }
  





